@import "./assets/styles/_config/variables";

@mixin gamePiece($color, $factor) {
	width: ($pieceSize - 2 * $pieceMargin) * $factor * 1rem;
	height: ($pieceSize - 2 * $pieceMargin) * $factor * 1rem;
	background: {
		color: $color;
		size: 65%;
		repeat: no-repeat;
		position: center;
	}
	border-radius: 6rem;
	display: inline-block;
	box-sizing: border-box;
	transition: all 0.2s linear;
	//king image from flaticon.com
}

:global {
	html,
	body {
		height: 100%;
		width: 100%;
		margin: 0;
		padding: 0;
		color: $fontColor;
		font-family: "-apple-system", "BlinkMacSystemFont", "Segoe UI", "Roboto",
			"Oxygen-Sans", "Ubuntu", "Cantarell", "Helvetica Neue", "sans-serif";
		font-size: 20px;
		background: {
			color: $purple;
		}
	}

	button {
		font-size: inherit;
	}
	.game {
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		position: relative;
		display: flex;
		flex-wrap: wrap;
		& > * {
			flex: 1 1 0;
		}
	}

	h1 {
		margin-top: 10px;
	}

	h2 {
		font-size: 1.3em;
	}

	h3 {
		font-size: 1.1em;
	}

	a {
		text-decoration: none;
		color: $fontColor;
		font-weight: 700;

		&:hover {
			text-decoration: underline;
		}
	}

	hr {
		border: 0;
		height: 1px;
		background: {
			color: #333;
			image: linear-gradient(to right, $fontColor, #ccc);
		}
	}

	.clearfix {
		clear: both;
	}

	.column {
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding: 1rem;
		flex-wrap: wrap;
		width: 50%;
		&:first-of-type {
			min-width: 25rem;
		}
	}

	// @media screen and (max-width: 1000px) {
	// 	div.column {
	// 		width: 100% !important;
	// 		overflow: hidden;
	// 		height: auto;
	// 	}
	// }

	div.info {
		width: 70%;
		min-height: 80%;
		box-sizing: border-box;
		padding: 20px 30px;
		background-color: $light;
		color: $purple;
		border-radius: 3px;
		box-shadow: $shadow;
	}

	div.stats {
		margin-left: auto;
		margin-right: auto;

		.wrapper {
			display: flex;
			flex-wrap: wrap;
			& > * {
				text-align: center;
				flex: 1 1 0;
			}
			min-height: 2 * $pieceSize * 1rem;
		}

		h3 {
			font-weight: bold;
		}

		#player1 {
			border-top-left-radius: $pieceMargin * 1rem;
			color: $player1Color;

			.capturedPiece {
				@include gamePiece($player1Color, 0.3);
				margin: 5px;
			}
		}

		#player2 {
			border-top-right-radius: $pieceMargin * 1rem;
			color: $player2Color;

			.capturedPiece {
				@include gamePiece($player2Color, 0.3);
				margin: 5px;
			}
		}

		.turn {
			height: 10px;
			width: 100%;
			background: linear-gradient(to right, #beee62 50%, transparent 50%);
			border-radius: 0 0 3px 3px;
		}

		#winner {
			display: block;
			padding: 10px 0 0;
			text-align: center;
		}

		button#cleargame {
			display: block;
			border: 0;
			color: $light;
			border-radius: 5px;
			cursor: pointer;
			margin: 20px auto 10px;
			padding: 10px;
			background-color: $blue;
			box-shadow: $shadow;
			transition: background-color 0.15s linear;

			&:hover {
				background-color: darken($blue, 20%);
			}
		}
	}

	div#board {
		position: relative;
		// top: calc(50% - (#{$pieceCount * $pieceSize * 1rem} / 2));
		// left: calc(50% - (#{$pieceCount * $pieceSize * 1rem} / 2));
		// max-width: 100%;
		// max-height: 100%;
		width: $pieceCount * $pieceSize * 1rem;
		height: $pieceCount * $pieceSize * 1rem;
		border-radius: 5px;
		box-shadow: $shadow;
		background-color: $boardColor;
		overflow: hidden;

		.tile {
			width: $pieceSize * 1rem;
			height: $pieceSize * 1rem;
			position: absolute;
			background-color: $dark;
		}

		.piece {
			position: absolute;
			margin-top: $pieceMargin * 1rem;
			margin-left: $pieceMargin * 1rem;
			border-width: $pieceMargin * 1rem;
			border-style: solid;
			cursor: pointer;

			&.selected {
				box-shadow: 0 0 10px 5px $blue;
			}
		}

		.player1pieces {
			.piece {
				@include gamePiece(lighten($red, 30%), 1);
				border-color: $player1Color;
			}
		}

		.player2pieces {
			.piece {
				@include gamePiece($light, 1);
				border-color: $player2Color;
			}
		}
	}
}
