$pieceCount: 10;

// rem
$pieceSize: 3;

// rem
$pieceMargin: 0.5;

$red: #b93848;
$purple: #3a3042;
$blue: #16a8c7;
$brown: #b97437;
$dark: #232621;
$light: #f1f1ff;
$fontColor: #333333;
$boardColor: $brown;
$player1Color: $red;
$player2Color: $blue;
$shadow: 1px 1px 3px dark;
